#pricing {
  background: #6696e2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-direction: column;
  h2 {
    font-size: 36px;
    margin-top: 100px;
    padding-bottom: 30px;
  }
  img {
    height: 2px;
    width: 64px;
    margin-bottom: 30px;
  }
  .flex-clmn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p {
      font-size: 14px;
      color: #ffffff;
      line-height: 25px;
      padding-bottom: 50px;
    }
  }
  .swiper {
    max-width: 1000px;
    margin-bottom: 100px;
    .swiper-wrapper {
      display: flex;
      align-items: flex-end;
      .swiper-slide {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        .plan {
          text-align: center;
          background-color: #323232;
          width: 300px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          padding: 14px 30px 19px 30px;
          h5 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 14px;
          }
          .price {
            font-size: 30px;
            font-weight: 400;
          }
          span {
            font-size: 94px;
          }
          p {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.5);
          }
        }
        .green-line {
          height: 6px;
          background-color: #41d395;
          width: 300px;
          font-size: 14px;
          text-align: center;
        }
        .wide {
          height: 40px;
          line-height: 40px;
        }
        .benefits {
          color: #86878b;
          background-color: #ffffff;
          width: 300px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          li {
            list-style-type: none;
            font-size: 14px;
            line-height: 28px;
            text-align: center;
          }
        }
      }
    }
  }
  .swiper-pagination-bullet {
    border: 3px solid #b9bec5;
    width: 15px;
    height: 15px;
  }

  .swiper-pagination-bullet-active {
    background: #d2d8e0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #92a3be;
  }
  .swiper-pagination {
    position: relative;
    margin-top: 20px;
  }

  @media (min-width: 1000px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
  @media (max-width: 1000px) {
    .swiper {
      max-width: 500px;
    }
  }
  @media (max-width: 400px) {
    .swiper {
      max-width: 300px;
    }
  }
}
